@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
 
#annonceParent{
    font-family: 'Open Sans', sans-serif;
    min-width:300px;
    max-width: 300px;
    max-height:600px ;
    min-height:600px ;
    background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 10px;
 position: relative;
 z-index: 0;
}
.AnnonceTitle{

font-weight: 500;
font-family: 'Open Sans', sans-serif;

}
 
.LeMotAvantCategorie {
    font-weight:bolder;
    font-size: 16px;
}
.AnnonceImage{
border-radius: 30px;
object-fit: contain;
max-height: 270px;
max-width: 270px;
margin:15px
}
.AnnonceInformations{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Kanit', sans-serif;

    
}
.AnnonceInformation{
    text-transform: capitalize;
     margin-bottom:10px;

}
.AnnonceDescriptionArrow{
    cursor: pointer;
}
#description{
    font-weight: bold;
    font-size: 20px;
}
#lesIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ItemWrapper{
  min-height:540px;
  max-height :540px;
  overflow-y: scroll;
}
 ::-webkit-scrollbar{
    width: 5px;
 }
.StarIcon{
    margin-left: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    transform: translateY(+50%);
}
.LeftPartOfIcons{
    display: flex;
    gap: 5%;
    align-items: center;
    margin-top:20px;
    bottom: 20px;
 
}
#descButton,#contactButton{
    
    cursor: pointer;
    padding: 10px;
    width: 100px;
    border: none;
    color: white;
    border-radius: 20px;
    background-color: #6900FF;}
 #descButton:hover,#contactButton:hover{
    background: #873af3;
    }
    @media screen and (max-width:370px) {
        #annonceParent{
            margin-left:-10px;
        }
       
    
      }
    