@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
#Regelem{
    display: grid;
    grid-template-columns: repeat(1fr.5);
    gap:20px;
   margin: 10% ;
    padding-right: 20%;

}
#registerButton{
    margin: 0 30%;
    background: rgb(255,207,0);
background: #6900FF
}
#registerContainer{
    display: grid;
    grid-template-columns: 60% 40%;
}
#Lottie{
    margin-top: -100%;
    margin-left:-20%;
}
#Register{
    color: rgb(62, 62, 62);
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    margin-top:7%;
    margin-left:-60%;
    margin-bottom:-2%;

}
#inputpdp{
    display: none;
}
#uploadtitle{
    font-family: 'Poppins', sans-serif;
}
.textfield{
    height: 50px;
}