@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
#navbar{
    background:whitesmoke;
    padding:20px;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width:100%;
    gap:60%;
    z-index: 3;
    box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.42);
    -webkit-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.42);
    -moz-box-shadow: 3px 3px 19px -1px rgba(0,0,0,0.42);
}

.NavbarSearch{
    display: flex;
    align-items: center;
    background:white ;
    width:80%;
    border-radius: 20px;
}
.SearchIcon{
    margin-left:12px;
}
#searchSection{
    display: flex;
    gap:2%;
    align-items: center;
    margin-left: -45%;
    margin-right: -40%;
   
}
#SearchButton{
    height: 30px;
    width: 150px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    background: #6900FF;
    font-family: 'Ubuntu', sans-serif;
}

#SearchButton:hover{
   
    background: #6a00fed8;
}
#searchbar{
   width: 300px;
   height: 30px;
   border-radius: 20px;
   border: none;
   font-family: 'Ubuntu', sans-serif;
   padding-left: 20px;

}
#searchbar:focus{
    outline: none;

}
#searchbar::placeholder{
    opacity: 0.4;
     margin-left: 20px;
}
#AddAnnonceButton{
    width: 150px;
    height:30px;
    color: #6900FF;
    border:1px solid #6900FF;
    border-radius: 20px;
    background: white;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}
.elemNavbarTa3Tarf {
    color: rgb(31, 31, 31);
   

}
.elemNavbarTa3Tarf:hover {
    color: #6900FF;
    cursor: pointer;

}
#sidebarspace{
    border-left: 0.1px solid rgba(143, 142, 142, 0.319);
    
}
#trait{
   height:0.5px;
   background: black;
}
#secondElm{
    display: flex;
   gap:50%;
    color: white;
    margin-left:50%;
}
#Navelem{
   display: flex;
   align-items: center;
}
.navElem:hover{
cursor: pointer;
}
#Logo{
    margin-right:55%;
    font-family: poppins, sans-serif;
    color: rgb(31, 31, 31);
    font-size: 1.5rem;
}

#AccountFnc{
    display: flex;
    flex-direction: column;
    gap: 10%;
    position:absolute;
    padding:5px;
    height:100px;
    width:100px;
    background: white;
    top:100px;
    right:240px; 
    z-index:4;
    border-radius:5px;
    border:0.5px solid gray;
}


#sidebarspace>*{
    padding: 10px;
    align-self:flex-start;
    text-align: center;
    margin-left: 10%;
    color: #232323;
    

}

#sidebarspace>.SideBarElement:hover{
    background-color: rgb(249, 249, 249);
    cursor: pointer;
    transition: 0.1s;
    padding: 10px;
    border-radius:3px;
    
    
   

}

.SideBarElement{
    color:  rgb(67, 65, 65);
    font-family: 'Ubuntu', sans-serif;
}

#Regiter{
    margin:10px 0 10px 0;
}
#iconLog{
    margin-right:10px;
    margin-top:8px;
}
#iconReg{
    margin-left:-5px;
    margin-right:5px;
}
#Trait{
    height:1px;
    background:grey;
    margin: 0 10px;
}
.nav-transition-active{
    width:25%;
    height:100vh;
    z-index: 2;
    background:white;
    position: fixed;
    right:0;
    transition: 0.5s ease-out;
    padding-top:4%;
    display: flex;
    gap:30px;
    align-items: center;
    flex-direction: column;
    user-select: none;
   
}

.nav-transition-no-active{
    right:-200%;
    transition: translateY(+20%) 0.5s ease-out;
    
}
#Profile-data{
    position: relative;
  font-family: 'Ubuntu', sans-serif;
  color: rgb(50, 50, 50);
}
#trait{
    height: 0.2px;
    position: absolute;
    background: black;
   
    
}
#ToTheTop{
    position: fixed;
    background: #6900FF;
    bottom: 50px;
    left: 30px;
    padding: 20px;
    text-decoration: none;
    color: white;
    border-radius: 50%;
    transition: 0.2s;
    z-index: 3;
    box-shadow: 0px 3px 17px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 17px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 17px -3px rgba(0,0,0,0.75);

}
#ToTheTop:hover{
    background: #6a00fed8;
}
#innerProfile{
    display: grid;
    grid-gap:10px;
    grid-template-columns: 40% 60%;

}
#innerProfile>*{
    display: block;
 
}
#singoutbox{
    position:fixed;
    z-index: 2;
    color: rgb(79, 79, 79);
    font-weight: bold;
    font-size: 1.2rem;
    background: white;
    top: 40%;
    left:50%;
    padding:20px;
    transform: translateX(-50%);
    box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    -webkit-box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    border-radius: 10px;
   

}
@media only screen and (max-width:500px) {
    #Logo{
        margin-right:0%;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    .ziada{
        display: none;
    }
    #secondElm{
        display: flex;
       gap:50%;
        color: white;
        margin-left:120%;
    }
}
@media only screen and (max-width:500px) {
    #Logo{
        margin-right:0%;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    .ziada{
        display: none;
    }
    #secondElm{
        display: flex;
       gap:50%;
        color: white;
        margin-left:120%;
    }
}
@media screen and (min-width: 501px) and (max-width: 840px) {
   
    #Logo{
        margin-right:0%;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
    .ziada{
        display: none;
    }
    #secondElm{
        display: flex;
       gap:50%;
        color: white;
        margin-left:330%;
    }
    

}
@media screen and (min-width: 840px) and (max-width:1030px) {
   
 
    #Logo{
        margin-right:0%;
        font-family: 'Rubik', sans-serif;
        color: white;
        font-size: 1.5rem;
    }
   
    #secondElm{
        display: flex;
       gap:50%;
        color: white;
        margin-left:330%;
    }

  }
@media screen and (max-width:370px) {
   
    #AddAnnonceButton,#SearchButton,.NavbarSearch{
        display: none;
    }
    #Logo{
        margin-right:35%;
        font-family: poppins, sans-serif;
        color: rgb(31, 31, 31);
        font-size: 1.5rem;
    }


  }



