
#HomePageContainer{
  margin: 100px  -5% 0 5%;
  display: block;
 
}
.Items{
margin-top: 3% ;
margin-left: 10%;
margin-right:-10%;
display: block;

}
#CategorieAnnonce{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 90px 0;
}
#HomeTitle{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color: rgb(78, 78, 78);
    margin: 10% auto -3% auto;
   
    
}
#traitDuhome{
    height: 1px;
    width: 50%;
    margin:80px auto -60px auto;
    background: grey;
}
#alertAdded{
    position: fixed;
    left:35%;
    top:13%;
}
@media only screen and (max-width:500px) {
 
    .Items{
     
        margin-left: -5%;
        margin-right:-35%;
        display: block;
        
        }
    #HomeTitle{
        margin-top: 50px;}
  }

  