@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
#HomePageContainer{
  margin-left:20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5%;

}
#HomePageContainerTwo{
    padding-top: 50px;
    margin-left:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}

#CategorieAnnonce{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
    margin: 90px 0;
}
#HomeTitle{
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    color:#6900FF;
    margin: 7% auto -3% auto;
   
    
}
#traitDuhome{
    height: 1px;
    width: 50%;
    margin:80px auto -60px auto;
    background: grey;
}
#alertAdded{
    position: fixed;
    left:35%;
    top:13%;
   z-index: 5;
}
.SearchNotFoundPrevention{
    margin-top: 250px;
    margin-left: 450px;
    opacity: 0.3;
    
}
@media only screen and (max-width:500px) {
 
    .Items{
     
        margin-left: -5%;
        margin-right:-35%;
        display: block;
        
        }
    #HomeTitle{
        margin-top: 50px;}
  }

  @media screen and (max-width:370px) {
   
    .LesCategories{
        margin-left:3px;
        margin-bottom: 20px;
    }
    .Items{
      margin-left:-50px;
    }


  }

  