#singoutbox{
    position:fixed;
    z-index: 2;
    color: rgb(79, 79, 79);
    font-weight: bold;
    font-size: 1.2rem;
    background: white;
    top: 40%;
    left:50%;
    padding:20px;
    transform: translateX(-50%);
    box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    -webkit-box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    -moz-box-shadow: 2px -1px 56px 47px rgba(0,0,0,0.09);
    border-radius: 10px;
   

}
#annonceParentMyAnnonce{
  font-family: 'Rubik', sans-serif;
  min-width:300px;
  max-width: 300px;
  max-height:600px ;
  min-height:600px ;
  background:  white;
border-radius: 20px;
box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1);
padding: 15px;
margin: 20px 10px;
position: relative;
z-index: 0;
}
.AnnonceTitle{
font-size: 30px;
font-weight: 500;


}

.AnnonceImage{
border-radius: 30px;
object-fit: contain;
max-height: 270px;
max-width: 270px;
margin:15px
}
.AnnonceInformations{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.AnnonceInformation{
  text-transform: capitalize;
   margin-bottom:10px;
}
.AnnonceDescriptionArrow{
  cursor: pointer;
}
#description{
  font-weight: bold;
  font-size: 20px;
}
#lesIcons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ItemWrapper{
min-height:540px;
max-height :540px;
overflow-y: scroll;
 
}
 
.LeftPartOfIcons{
  display: flex;
  gap: 5%;
  align-items: center;
  margin-top:20px;
  bottom: 20px;

}


 
.ButtonOfAnnonceInMyAnnonce{
  cursor: pointer;
  padding: 10px;
  width: 100px;
  border:1px solid #6900FF;
  color: #6900FF;
  border-radius: 20px;
  background-color:white;}
.Delete{
  background-color: #FF004D;
  border: none;
  color: white;
  position: absolute;
  bottom: 20px;
  right: 30px;
}
.Edite{
  position: absolute;
  bottom: 20px;
}

   