@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.TitleMyAnnoncement{
    font-size: 1.6rem;
    color: rgb(62, 62, 62);
    font-family: 'Open Sans', sans-serif;
 
}
.AnnonceContainerInMyAnnonce{
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
}
#traitMyAnnoncement{
  height: 1px;
    background:#c892b9 ;
    margin: 5% auto 0 auto;
    width: 60%;
}
#thelegend{
margin-top:10%;
color: rgb(189, 189, 189);
}
#alertInMyannonce{
  position: fixed;
  left: 40%;
  top: 5%;
}